# App Configuration 
Dozy/Configuration.plist

# Xcode 
xcuserdata/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/README.md

# CocoaPods
Pods

#Firebase
GoogleService-Info.plist